cx_Freeze==6.14.3
Flask==2.2.2
Flask_Login==0.6.2
flask_sqlalchemy==3.0.3
opencv_python==4.7.0.68
python-dotenv==0.21.1
SQLAlchemy==1.4.45
torch==1.13.1
Werkzeug==2.2.2
numpy==1.23.5
onnx==1.13.0
onnx-simplifier==0.4.13
onnxconverter-common==1.13.0
easydict==1.9
gdown==4.6.3 
onnxruntime==1.13.1
yolov5==7.0.8
flaskwebgui==1.0.3
flask-admin==1.6.1
flask_mail==0.9.1
