{% extends 'admin/master.html' %}
{% block body %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->

{{ super() }}
<div class="row">
    <!-- Main Content -->
    <!-- <div class="container my-5"> -->
      <!-- <div class="row"> -->
        <div class="col-md-12 mt-5">
          <h3>ABUAD HMS Admin Application</h3>
          <p>The ABUAD HMS Admin Application is an innovative tool that enables administrators to manage students and lecturers in the hostel monitoring system of Afe Babalola University, Ado-Ekiti (ABUAD). The system provides a range of features to support the efficient management of the university community.</p>
        </div>
      </div>
      <!-- Features -->
      <div class="row my-5">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Create and Update Students and Lecturers</h5>
              <p class="card-text">The ABUAD HMS Admin Application allows administrators to create new student and lecturer profiles, as well as update existing ones with new information as needed.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Read and View Student and Lecturer Profiles</h5>
              <p class="card-text">The ABUAD HMS Admin Application enables administrators to access and view the profiles of all students and lecturers in the hostel monitoring system, providing a comprehensive overview of the university community.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Delete Student and Lecturer Profiles</h5>
              <p class="card-text">The ABUAD HMS Admin Application allows administrators to delete student and lecturer profiles as needed, ensuring that the system is up-to-date and accurate at all times.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}


