cx_Freeze==6.14.3
Flask==2.2.2
Flask_Login==0.6.2
flask_sqlalchemy==3.0.3
opencv_python==4.7.0.68
python-dotenv==0.21.1
SQLAlchemy==1.4.45
torch==1.13.1
# WebUI==0.2.1
Werkzeug==2.2.2
numpy==1.23.5
onnx==1.13.0
onnx-simplifier==0.4.13
pyside2==
WebUI @ git+https://github.com/Widdershin/flask-desktop.git@9f0e9e033909516e1c0669fdf38e9c9c904fe7ac
onnxconverter-common==1.13.0
easydict==1.9
gdown==4.6.3 
onnxruntime==1.13.1
yolov5==7.0.8
